.image-logo {
  width: 22px;
  height: 22px;
  filter: invert(100%);
  margin-right: .5rem;
}

.brand-register{
  padding: 7% 14%;
  height: calc(100vh - 152px);
}

.client-register {
  padding: 3% 6%;
}


.button {
  margin: 1.5rem 0;
}