.image-logo {
  width: 22px;
  height: 22px;
  filter: invert(100%);
  margin-right: .5rem;
}

.brand-register{
  padding: 7% 14%;
}

.client-register {
  padding: 3% 6%;
}


.button {
  margin: 1.5rem 0;
}

.graphic-pie {
  max-width: 500px;
}

.dashboard {
  font-size: 4rem;
}

.update-button {
  margin-left: 1rem;
}

.dashboard-info {
  margin-top: 4rem;
}

.dashboard-info__title {
  font-size: 2rem;
}

.dashboard-info__time {
  font-size: 6rem;
}

@media screen and (max-width: 502px) {
  .dashboard, .dashboard-info__time {
    font-size: 2rem;
  }

  .dashboard-info__title {
    font-size: 1.5rem;
  }

  .update-button {
    margin-top: 1rem;
  }
}